global
  maxconn 4096
  daemon

defaults
  mode http
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms
  log global
  option httplog

frontend http_front
  bind *:9999
  default_backend http_back

backend http_back
  balance roundrobin
  server rinha1 rinha-2026-1:80 check
  server rinha2 rinha-2026-2:80 check
